<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Tuin" providerName="System.Data.SqlClient"
         connectionString="server=.\sqlexpress;database=Tuin;integrated security=true;"/>

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

</configuration>